@page
@model WebTest.Pages.AlteracaoPontoModel
@{
}
<!DOCTYPE html>
<html>
    <head>
    <title>Alteração de espelho de ponto</title>
    </head>
    <body>
    <h3>Digite o CPF do colaborador que deseja realizar a alteração no espelho de ponto, logo após clique em "Buscar" para realizar a pesquisa no banco de dados</h3>
    <div>
        <label for="cpf">CPF do Colaborador:</label>
        <input type="text" id="cpf" placeholder="Digite o CPF">
    </div>

    <div>
        <label for="Nome">Nome Completo:</label>
        <input type="text" id="Nome" placeholder="Nome">
    </div>
    <div>
        <label for="filtro">Filtrar:</label>
        <input type="text" id="filtro" placeholder="">
    </div>


    <button type="submit">Buscar</button>
    </body>
</html>

