@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Sistema LRSV</h1>
    <p>Sistema de Folha de Pagamento</a>.</p>
</div>
