@page
@model WebTest.Pages.PagamentoModel

<h1>Pagamentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário Bruto</th>
            <th>Salário Líquido</th>
            <th>INSS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nome</td>
            <td>@Model.SalarioBruto</td>
            <td>@Model.SalarioLiquido</td>
            <td>@Model.inss</td>
        </tr>
    </tbody>
</table>
