@page
@model WebTest.Pages.RegisterModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Registro</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Nome">Nome</label>
                    <input type="text" asp-for="Model.Nome" class="form-control" />
                    <span asp-validation-for="Model.Nome" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Cargo">Cargo</label>
                    <input type="text" asp-for="Model.Cargo" class="form-control" />
                    <span asp-validation-for="Model.Cargo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Email">Email</label>
                    <input type="email" asp-for="Model.Email" class="form-control" />
                    <span asp-validation-for="Model.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Password">Senha</label>
                    <input type="password" asp-for="Model.Password" class="form-control" />
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.ConfirmPassword">Confirme sua Senha</label>
                    <input type="password" asp-for="Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Salario">Salário</label>
                    <input type="text" asp-for="Model.Salario" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Cpf">CPF</label>
                    <input type="text" asp-for="Model.Cpf" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Genero">Gênero</label>
                    <input type="text" asp-for="Model.Genero" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Telefone">Telefone</label>
                    <input type="text" asp-for="Model.Telefone" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Endereco">Endereço</label>
                    <input type="text" asp-for="Model.Endereco" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.HorarioTrabalho">Horário de Trabalho</label>
                    <input type="text" asp-for="Model.HorarioTrabalho" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.JornadaSemanal">Jornada Semanal</label>
                    <input type="text" asp-for="Model.JornadaSemanal" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Banco">Banco</label>
                    <input type="text" asp-for="Model.Banco" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Agencia">Agência</label>
                    <input type="text" asp-for="Model.Agencia" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Conta">Conta</label>
                    <input type="text" asp-for="Model.Conta" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.INSS">INSS</label>
                    <input type="text" asp-for="Model.INSS" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.PIS">PIS</label>
                    <input type="text" asp-for="Model.PIS" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.DataNascimento">Data de Nascimento</label>
                    <input type="date" asp-for="Model.DataNascimento" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.CarteiraTrabalho">Carteira de Trabalho</label>
                    <input type="text" asp-for="Model.CarteiraTrabalho" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.RG">RG</label>
                    <input type="text" asp-for="Model.RG" class="form-control" />
                </div>


                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>