@page
@model WebTest.Pages.TransmitirArquivosModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <title>Tela para Transmitir Arquivos</title>
    </head>
    <body>
    <h3>Digite o CPF do colaborador que deseja realizar a transmição de arquivos, logo após clique em "Buscar" para realizar a pesquisa no banco de dados</h3>
    <div>
        <label for="cpf">CPF do Colaborador:</label>
        <input type="text" id="cpf" placeholder="Digite o CPF">
    </div>

    <div>
        <label for="Nome">Nome Completo:</label>
        <input type="text" id="Nome" placeholder="Nome">
    </div>

    <h3><strong>Selecione o arquivo que deseja transmitir para o colaborador</strong></h3>



    <button type="submit">Buscar</button>
    </body>
</html>
